In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [18]:
data=pd.read_csv(r"C:\Users\Admin\Downloads\tic-tac-toe.data")
data.head()

   x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0  x   x   x   x  o   o   o   x   o  positive
1  x   x   x   x  o   o   o   o   x  positive
2  x   x   x   x  o   o   o   b   b  positive
3  x   x   x   x  o   o   b   o   b  positive
4  x   x   x   x  o   o   b   b   o  positive

In [19]:
data.isnull().sum()

x           0
x.1         0
x.2         0
x.3         0
o           0
o.1         0
x.4         0
o.2         0
o.3         0
positive    0
dtype: int64

In [20]:
data.shape

(957, 10)

In [28]:
data=data.replace('x',2)
data=data.replace('o',3)
data=data.replace('positive',1)
data=data.replace('negative',0)
data=data.replace('b',4)

In [29]:
data.tail()

     x  x.1  x.2  x.3  o  o.1  x.4  o.2  o.3  positive
952  3    2    2    2  3    3    3    2    2         0
953  3    2    3    2  2    3    2    3    2         0
954  3    2    3    2  3    2    2    3    2         0
955  3    2    3    3  2    2    2    3    2         0
956  3    3    2    2  2    3    3    2    2         0

In [30]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [47]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=42)

In [32]:
train_x.shape

(765, 9)

In [36]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy',random_state=0,max_depth=10)

In [37]:
classifier.fit(train_x,train_y)

DecisionTreeClassifier(criterion='entropy', max_depth=10, random_state=0)

In [38]:
pred=classifier.predict(test_x)

In [43]:
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.linear_model import LogisticRegression

In [40]:
confusion_matrix(test_y,pred)

array([[ 54,  17],
       [ 10, 111]], dtype=int64)

In [45]:
model=LogisticRegression()
model.fit(train_x,train_y)

LogisticRegression()

In [48]:
model.score(test_x,test_y)

0.7239583333333334